<td>{{@index}}</td>
<td>{{ubezpieczony}}</td>
<td>{{benzyna}}</td>
<td>{{uszkodzony}}</td>
<td>{{napend4x4}}</td>
<form action="/remove">
    <td><input type="hidden" name="id" value="{{_id}}"><input type="submit" value="remove"></td>
</form>
<form action="/edit">
    <td><input type="hidden" name="id" value="{{_id}}"><input type="submit" value="edit"></td>
</form>